body {
    font-family: Calibri, Roboto, Arial !important;
}

#controls-container {
    margin-top: 10px;
    display: table;
    width: 100%;
}

#dropdown-documents {
    width: 50%;
    display: table-cell;
}

#button-select-all {
    width: 50%;
    display: table-cell;
    font-size: 20px;
    margin-left: 10px;
    background-color: aliceblue;
}

#slider-similarity {
    width: 30%;
    display: table-cell;
}

#slider-value {
    font-size: 20px;
    font-weight: bold;
    display: table-cell;
    width: 50px;
}

